body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template: max-content 4fr/1fr 5fr;
    font-family: "Nata sans", sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    position: sticky;
    top:0;
    background-color: white;
}

li {
    list-style-type: none;
    margin: 15px;
    margin-left: 0px;
    /* flex-grow: 1; */
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    margin: auto;

}

ul {
    margin: 10px;
    padding: 0px;
}



img {
    width: 25px;
    margin-right: 15px;
}

.sidebar {
    background-color: rgb(121, 238, 238);
    grid-row: 1/ span 2;
    grid-column-start: 1;
    font-size: large;
    font-weight: 700;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    gap: 15px;
    padding: 15px;
}

.heading {
    font-size: larger;


}

img.Dashboard {
    width: 40px;
}

/* div.header{
    padding: 20px;

} */

.search {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.update {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}

.update>img {
    width: 71px;
    justify-self: end;
    border-radius: 100px;
}

.greet {
    font-weight: 700;
}

.subheading {
    font-size: small;
    margin: 0px;
}

.new {
    grid-column-start: 4;
}

.upload {
    grid-column-start: 5;
}

.share {
    grid-column-start: 6;
}

button {
    border: none;
    background-color: rgb(53, 60, 138);
    height: 40px;
    width: 100px;
    align-self: center;
    margin-left: 25px;
    border-radius: 80px;
    color: white;
}

button:hover {
    background-color: rgb(52, 104, 123);
}

p+p {
    font-size: larger;
    margin-top: 0px;
}

.icons {
    display: flex;
    gap: 10px;
}

.maincontent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
    gap: 15px;
    background-color: rgb(208 208 208);
}

.cards {
    grid-column-start: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;

}

.items img{
    border-radius: 60px;
    width: 55px;
}

.items li{
    display: flex;
}

.megacontain>p,
.extra p {
    font-size: larger;
    font-weight: 700;
}

.card>p {
    font-weight: 700;
    font-size: large;
    margin-bottom: 10px;
}

.extra {
    display: grid;
    grid-template-rows: max-content;
    /* grid-template-rows:1fr 1fr; */

}

.card {
    border: 1px solid rgba(0, 0, 0, 0.069);
    padding: 20px;
    padding-left: 40px;
    padding-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 4px 1px 1px #bebaba, inset 8px 0px 1px #f89c51;
}

.item+.item {
    border-top: 1px solid #00000052;
}

.announcements,
.trendings {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: minmax(250px, 400px);
}

.items {
    display: grid;
    background-color: white;
    grid-template-columns: minmax(250px, 400px);
    padding: 30px;
    border-radius: 10px;
    padding-top: 0px;


}

.item {
    margin-top: 17px;

}



.item p {
    margin: 6px;
    padding-top: 3px;
}


p.content {
    font-size: small;
    font-weight: 400;
}

fieldset {
    border: none;
}

input {
    border-radius: 25px;
    appearance: none;
    width: 80%;
    border: none;
    height: 20px;
    background-color: antiquewhite;
}

div.srch {
    display: flex;
    flex-grow: 1;
    align-items: center;

}

img.billa {
    width: 50px;
    border-radius: 25px;
}

label {
    width: 700px;
    display: flex;
}